<ion-header>
  <ion-toolbar>
    <ion-title>
      Item Reorder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-item *ngFor="let item of items">
      <ion-label>{{item}}</ion-label>
      <ion-reorder></ion-reorder>
    </ion-item>
    </ion-reorder-group>
  </ion-list>
  
  <ion-button expand="full"  (click)="save()">Save</ion-button>

</ion-content>
